/* ALL COLORS */
$blueColor: #24282e;
$orangeColor: #ff6600;
$blackColor: #0f0101;
$whiteColor: #ffffff;
$grayColor: #555252;
$videoColor: #3b3b3d;
$campusColor: #f2f2f2;
$faqsColor: #7d7d7e;
$footerColor: #2d3237;
