@media (min-width: 425px) {
    .header-top {
        .container {
            .header-main {
                @include flex(column, center, center);

                .header-top__left,
                .header-top__right {
                    padding: 0;

                    a {
                        margin: 12px;
                        font-size: 12px;
                    }

                    .login {
                        .login-top {
                            z-index: 4;
                            position: fixed;


                            .login-top__inside {
                                padding: 30px;

                                @include wh(60%, auto);

                                h2 {
                                    display: none;
                                }

                                .login-inside__btn {
                                    @include wh(100%, 100%);
                                    padding: 0;
                                    border: 0;
                                    @include flex(column, space-evenly, center);

                                    .log,
                                    .pass {
                                        input {
                                            @include wh(100%, 100%);

                                        }

                                        span {
                                            display: none;
                                        }
                                    }

                                    .sing {
                                        a {
                                            padding: 0;
                                            margin: 0;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .header-bottom {
        .container {
            .header-main {
                .header-bottom__menu {
                    .menu {

                        .label-btn span,
                        .label-btn span::after,
                        .label-btn span::before {
                            content: '';
                            background: $whiteColor;
                            @include wh(20px, 2px);
                            @include pos-right(20px, 15px);
                            z-index: 3;
                        }

                        .label-btn span::after {
                            @include pos-right(6px, 0);
                        }

                        .label-btn span::before {
                            @include pos-right(-6px, 0);
                        }

                        .input-btn:checked~ul {
                            @include pos-right(0, -0%);
                        }

                        ul {
                            @include flex(column, space-evenly, center);
                            @include wh(70%, 100%);
                            @include pos-right(0, -100%);
                            transition: 1s;
                            background: rgba(0, 0, 0, 0.829);
                            z-index: 2;
                            position: fixed;

                            li span a {
                                color: $whiteColor;
                            }
                        }
                    }

                    .search {
                        margin-top: 10px;

                        .search__btn {
                            @include wh(150px, auto);
                            opacity: 1;
                            border-radius: 5px;
                            outline: none;
                            border: 1px solid grey;
                            padding-left: 5px;
                            margin: 0px 10px;
                        }

                        .checkbox__btn:checked~.search__btn {
                            @include wh(150px, auto);
                            padding-left: 5px;
                        }
                    }
                }
            }
        }
    }
}

@media (min-width: 768px) {
    .header-top {
        .container {
            .header-main {
                @include flex(row, space-between, center);

                .header-top__left,
                .header-top__right {
                    padding: 10px 0;

                    a {
                        font-size: 13px;
                        margin: 0 10px;
                    }

                    .login {
                        .login-top {
                            .login-top__inside {
                                @include flex(column, space-around, center);
                                @include wh(70%, 50%);

                                h2 {
                                    display: block;
                                    margin: 20px;
                                }

                                .login-inside__btn {
                                    @include flex(column, space-around, flex-start);
                                    padding: 10px;
                                    @include wh(90%,auto);
                                    border: 1px solid grey;


                                    .log,
                                    .pass {
                                        @include flex(row, space-between, center);
                                        @include wh(100%, 80%);

                                        span {
                                            display: block;
                                        }

                                        input {
                                            @include wh(50%, 60%);
                                        }
                                    }

                                    .sing {
                                        @include wh(100%, 50%);

                                        input {
                                            @include wh(100%, 50%);
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .header-bottom {
        .container {
            .header-main {
                .header-bottom__menu {
                    .menu {
                        .label-btn span {
                            display: none;
                        }

                        ul {
                            position: relative;
                            @include wh(100%, 100%);
                            @include flex(row, center, center);
                            background-color: $whiteColor;
                            left: 0%;
                            z-index: 0;

                            li {
                                margin: 0 5px;

                                span a {
                                    @include font-family('Open Sans', 13px, $blackColor, uppercase, bold);
                                }

                                span::after {
                                    @include pos-right(6px, -5px);
                                }

                                span::before {
                                    @include pos-left(6px, -5px);
                                }
                            }
                        }
                    }

                    .search {
                        margin: 5px 0 0 6px;
                        position: relative;

                        .checkbox__btn {
                            @include wh(20px, 20px);
                            @include pos-right(auto, 0);
                            opacity: 0;
                            cursor: pointer;
                        }

                        .checkbox__btn:checked~.search__btn {
                            @include wh(470px, auto);
                            opacity: 1;
                            padding-left: 8px;
                            z-index: 3;
                        }

                        .search__btn {
                            @include wh(0px, auto);
                            @include pos-right(-3px, 12px);
                            transition: 1s;
                            opacity: 0;
                            outline: none;
                        }
                    }
                }
            }
        }
    }
}

@media (min-width: 992px) {
    .header-top {
        .container {
            .header-main {

                .header-top__left,
                .header-top__right {
                    padding: 15px 0;

                    a {
                        font-size: 14px;
                        margin: 0 15px;
                    }

                    .login {
                        .login-top {
                            position: fixed;
                           @include wh(100%,100%);
                            .login-top__inside {
                                @include wh(500px, 50%);

                                .login-inside__btn {
                                    @include wh(100%, 100%);

                                    .log,
                                    .pass {
                                        input {
                                            @include wh(50%, 30px);
                                        }
                                    }

                                    .sing {
                                        @include wh(100%, 100%);
                                        @include flex(column, space-between, center);
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .header-bottom {
        .container {
            .header-main {
                .header-bottom__menu {
                    .menu {
                        ul {
                            li {
                                margin: 15px;

                                span {
                                    a {
                                        font-size: 14px;
                                    }

                                    &::after {
                                        @include pos-right(6px, -12px);
                                    }

                                    &::before {
                                        @include pos-left(6px, -12px);
                                    }
                                }
                            }
                        }
                    }

                    .search {
                        .checkbox__btn:checked~.search__btn {
                            @include wh(630px, auto);
                        }
                    }
                }
            }
        }
    }
}